<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ijesha Digital Hub</title>
  <link rel="stylesheet" href="{{url_for('static', path='home.css')}}">
</head>
<body>
  <header>
    <h1>
      Welcome to Ijesha Digital Hub {{name}}
    </h1>
    <h3>We incubate people and set them for the future</h3>
  </header>
  <main>
    <div class="outter-card">
     <section class="card">
      <h1>Software Engineering</h1>
      <p>Deals with building mobile app, webapps, utility apps and scripts</p>
      <button>join now</button>
    </section>
    <section class="card">
      <h1>Cyber Security</h1>
      <p>Deals with Safeguilding mobile app, webapps, utility apps and scripts and making the internet safe</p>
      <button>join now</button>
    </section>
    <section class="card">
      <h1>Data Analysis</h1>
      <p>It entails analysing data, cleaning data, projecting data, visualizing data, for public & private use</p>
      <button>join now</button>
    </section>
    </div>
  </main>
  <main>
  <div class="carousel">

      <h3 class="tech">jOIN THE FUTURE OF TECH</h3>
      <h3 class="tech">UNLOCK YOUR POTENTIAL</h3>
      <h3 class="tech">BE PART OF SOMETHING BIG</h3>
      <h3 class="tech">LAUNCH YOUR TECH CAREER</h3>
      <h3 class="tech">LEARN FROM THE BEST</h3>
      <h3 class="tech">BUILD YOUR FUTURE NOW @ IDH</h3>
      </div>
      </main>
      
</body>
</html>